@use "../abstracts/variables";

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--1 {
      background-color: variables.$color-primary;
    }
    &--2 {
    }
  }

  &__img-container {
    width: 50%;
    margin: 5rem;
    text-align: center;
    &--1 {
      width: 30rem;
    }
  }

  &__img {
    &--1 {
      width: 40rem;
    }
    &--2 {
      width: 20rem;
    }
  }
  &__block {
    width: 50%;
    padding: 10rem;
    &--1 {
      color: variables.$color-text-primary;
    }
    &--2 {
    }
  }

  &__paragraph {
    .intro__paragraph--strong {
      font-weight: 700;
      display: block;
    }

    &--2 {
      text-align: right;
    }
  }
}
