@use "../abstracts/variables";

.person {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 20rem);
  padding: 5rem 10rem 0 10rem;

  &--bg {
    background-color: variables.$color-tertiary;
  }

  &__title {
  }

  &__img-box {
    width: 15rem;
    height: 15rem;
    grid-column: 2/3;
  }
  &__img {
    width: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    grid-column: 3/4;
  }
  &__name {
    color: variables.$color-primary;
  }
  &__detail {
    margin-block: 0.5rem;
    padding-inline: 0;
  }

  &__bio {
    margin: 1rem 0;
    grid-row: 2/2;
    grid-column: 2/5;
    line-height: 1.5;
  }
}
