$color-primary: rgba(#003152, 1);
$color-primary-alpha: rgba(#003152, 0.71);
$color-primary-beta: rgba(#003152, 0.1);
$color-secondary: rgba(#7a8189, 1);
$color-tertiary: rgba(#eaf1f5, 1);
$color-text-primary: rgba(#ffffff, 1);
$color-text-secondary: rgba(#2bbbdf, 1);
$color-text-tertiary: rgba(#606060, 1);
$box-shadow: 0 0 1rem 0.3rem rgba(#606060, 0.2);

