@use "../abstracts/variables";

.footer {
  background-color: variables.$color-primary;
  color: variables.$color-text-primary;
  display: flex;
  justify-content: space-evenly;
  &__sections {
    display: flex;
    flex-direction: column;
  }
  &__sections-header {
    text-transform: uppercase;
  }
  &__list {
    list-style: none;
    padding-inline: 0;

    display: flex;
    flex-direction: column;
    // align-items: flex-start;
  }
  &__item {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.5rem;
  }
  &__link {
    &,
    &:link,
    &:active,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
