@use "../abstracts/variables";
.header {
  background-color: variables.$color-primary;

  display: flex;
  align-items: center;

  &__logo {
    width: 20%;
    padding: 0 3rem;
  }
  &__list {
    flex: 1;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    // border: 0.3rem dashed variables.$color-secondary;
    padding: 1rem;
  }
  &__link {
    &,
    &:active,
    &:visited {
      text-decoration: none;
      color: variables.$color-text-primary;
    }
  }

  &__placeholder {
    background-color: variables.$color-secondary;
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
  }
}
